<div class="background-section d-flex align-items-center">
    <div class="background-overlay"></div>
    <div class="container content text-center">
        <h1>Căn hộ</h1>
        <a href="#!/home">Trang chủ</a>
        <i class="bi bi-caret-right-fill"></i>
        <span>Căn hộ</span>
    </div>
</div>

<!-- products.html -->
<main class="container mb-3" ng-controller="productsController">
    <div class="row">
        <div class="col-6 col-md-4 col-xl-3 mb-3">
            <div class="card">
                <div class="box-img">
                    <div class="crew hot">
                        <span>Hot</span>
                    </div>
                    <a ng-click="showProductDetail(product.id)">
                        <img class="w-100" src="image/productsjpg.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Quận 7 – Căn hộ cao cấp </h5>
                    <p class="card-text">Điểm nổi bật của Q7 Saigon Riverside:</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="bi bi-pin-map" style="color: #35bf76;"></i>
                        Đường Đào Trí P.Phú Thuận Q7</li>
                    <li class="list-group-item"><i class="bi bi-house-door" style="color: #35bf76;"></i>
                        Loại BDS: Căn hộ</li>
                    <li class="list-group-item"><i class="bi bi-globe" style="color: #35bf76;"></i>
                        Diện tích: ~80m2</li>
                </ul>
                <div class="card-body d-flex jus-bw align-items-center">
                    <div class="">
                        <a class="card-link none"> 2 Tỷ</a>
                    </div>
                    <div>
                        <a ng-click="showProductDetail(product.id)" class="card-link btn btn-outline-success">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <div class="card">

                <div class="box-img">
                    <div class="crew hot">
                        <span>Hot</span>
                    </div>
                    <a ng-click="showProductDetail(product.id)">
                        <img class="w-100" src="image/productsjpg.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Quận 7 – Căn hộ cao cấp</h5>
                    <p class="card-text">Điểm nổi bật của Q7 Saigon Riverside:</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="bi bi-pin-map" style="color: #35bf76;"></i>
                        Đường Đào Trí P.Phú Thuận Q7</li>
                    <li class="list-group-item"><i class="bi bi-house-door" style="color: #35bf76;"></i>
                        Loại BDS: Căn hộ</li>
                    <li class="list-group-item"><i class="bi bi-globe" style="color: #35bf76;"></i>
                        Diện tích: ~80m2</li>
                </ul>
                <div class="card-body d-flex jus-bw align-items-center">
                    <div class="">
                        <a class="card-link none"> 2 Tỷ</a>
                    </div>
                    <div>
                        <a ng-click="showProductDetail(product.id)" class="card-link btn btn-outline-success">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <div class="card">

                <div class="box-img">
                    <div class="crew hot">
                        <span>Hot</span>
                    </div>
                    <a ng-click="showProductDetail(product.id)">
                        <img class="w-100" src="image/productsjpg.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Quận 7 – Căn hộ cao cấp</h5>
                    <p class="card-text">Điểm nổi bật của Q7 Saigon Riverside:</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="bi bi-pin-map" style="color: #35bf76;"></i>
                        Đường Đào Trí P.Phú Thuận Q7</li>
                    <li class="list-group-item"><i class="bi bi-house-door" style="color: #35bf76;"></i>
                        Loại BDS: Căn hộ</li>
                    <li class="list-group-item"><i class="bi bi-globe" style="color: #35bf76;"></i>
                        Diện tích: ~80m2</li>
                </ul>
                <div class="card-body d-flex jus-bw align-items-center">
                    <div class="">
                        <a class="card-link none"> 2 Tỷ</a>
                    </div>
                    <div>
                        <a ng-click="showProductDetail(product.id)" class="card-link btn btn-outline-success">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-xl-3">
            <div class="card">

                <div class="box-img">
                    <div class="crew hot">
                        <span>Hot</span>
                    </div>
                    <a ng-click="showProductDetail(product.id)">
                        <img class="w-100" src="image/productsjpg.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Quận 7 – Căn hộ cao cấp</h5>
                    <p class="card-text">Điểm nổi bật của Q7 Saigon Riverside:</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="bi bi-pin-map" style="color: #35bf76;"></i>
                        Đường Đào Trí P.Phú Thuận Q7</li>
                    <li class="list-group-item"><i class="bi bi-house-door" style="color: #35bf76;"></i>
                        Loại BDS: Căn hộ</li>
                    <li class="list-group-item"><i class="bi bi-globe" style="color: #35bf76;"></i>
                        Diện tích: ~80m2</li>
                </ul>
                <div class="card-body d-flex jus-bw align-items-center">
                    <div class="">
                        <a class="card-link none"> 2 Tỷ</a>
                    </div>
                    <div>
                        <a ng-click="showProductDetail(product.id)" class="card-link btn btn-outline-success">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>