<!-- Footer Section -->
<footer class="footer text-center text-md-start">
    <div class="background-section-ft d-flex align-items-center">
        <div class="background-overlay"></div>
        <div class="container content text-center">
            <a href="" class="mb-4">
                <img src="image/logoBDS.png" alt="" class=" rs-img" width="100" height="80">
            </a>
            <p>Với hơn 10 năm kinh nghiệm, BDS05 tự hào là sàn mua bán, giao dịch và quảng cáo bất động sản hàng đầu tại
                Việt Nam</p>
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class=" align-items-start">
                        <div class="ico">
                            <img src="image/place_maps.png" alt="">
                        </div>
                        <div class="content_p mt-2">
                            <h6>Trụ sở chính</h6>
                            <a href="">
                                <p>Số 123 Đường Phan Chu Trinh, Quận 10, TP.HCM</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" align-items-start">
                        <div class="">
                            <div class="ico">
                                <img src="image/place_phone.png" alt="">
                            </div>
                            <div class="content_p mt-2">
                                <h6>Hotline</h6>
                                <a href="">
                                    <p>123.456.7890</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" align-items-start">
                        <div class="">
                            <div class="ico">
                                <img src="image/place_email.png" alt="">
                            </div>
                            <div class="content_p mt-2">
                                <h6>Email</h6>
                                <a href="">
                                    <p>contact@gmail.com</p>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row jus-evl">
                <div class="col-xl-3 col-md-2">
                    <h5>Thông tin công ty</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Dự án</a></li>
                        <li><a href="#">Căn hộ</a></li>
                        <li><a href="#">Mặt bằng</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-md-2">
                    <h5>Hỗ trợ khách hàng</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Dự án</a></li>
                        <li><a href="#">Căn hộ</a></li>
                        <li><a href="#">Mặt bằng</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-md-2">
                    <h5>Chính sách hoạt động</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Dự án</a></li>
                        <li><a href="#">Căn hộ</a></li>
                        <li><a href="#">Mặt bằng</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-xl-3    col-md-2">
                    <h5>Kết nối với chúng tôi</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Dự án</a></li>
                        <li><a href="#">Căn hộ</a></li>
                        <li><a href="#">Mặt bằng</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-bottom text-center ">
        <span>&copy; Bản quyền thuộc về BDS05.</span>
    </div>


</footer>