<header class="header" ng-controller="headerController">
    <nav class="navbar navbar-expand-lg bg-white container navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="image/logoBDS.png" alt="Bootstrap" width="100%" height="70">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#primaryMennuNavbar"
                aria-controls="primaryMennuNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="primaryMennuNavbar">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active menu-font" aria-current="page" href="/">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active menu-font" aria-current="age" href="#!/abouts">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active menu-font" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">DỰ ÁN</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">CĂN HỘ</a></li>
                            <li><a class="dropdown-item" href="#">MẶT BẰNG</a></li>
                            <li><a class="dropdown-item" href="#">CHUNG CƯ</a></li>
                            <li><a class="dropdown-item" href="#">CAO ỐC</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active menu-font" aria-current="page" href="#!/products">CĂN HỘ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active menu-font" aria-current="page" href="#!/news">TIN TỨC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active menu-font" aria-current="page" href="#!/contact">LIÊN HỆ</a>
                    </li>
                </ul>
                <button class="nav-link active menu-font" ng-if="!isLoggedIn" ng-click="showLoginModal()">Đăng nhập</button>

                <div class="d-flex align-items-center" ng-if="isLoggedIn">
                    <div class="account-container">
                        <div class="account-icon">
                            <i class="bi bi-person-circle" style="font-size: 24px;"></i>
                        </div>
                        <div class="username" ng-bind="loggedInUser.fullName"></div>
                        <a href="#" class="logout-button" ng-click="logout()">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
